.post {
    background: rgba(255,255,255,.8);
    margin-top: 5px;
    border-radius: 5px;
}

.post > div {
    box-sizing: border-box;
    border-right: 2px solid gray; 
}

.post > div:last-child {
    border: 0;
}

.head {
    width: 100px;
    height: 100px;
}

.post-user, .post-time {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    align-items: center;
}

#repost textarea {
    width: calc(100% - 10px);
    height: 200px;
    background: rgba(255,255,255,.8);
}

#repost textarea:focus {
    background: #fff;
}
