
.notice {
    cursor: pointer;
    font-size: 14px;
    color: gray;
    border-bottom: 1px solid gray;
    margin-top: 3px;
    margin-bottom: 8px;
}

.post {
    border: 1px double gray;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

.post > div {
    box-sizing: border-box;
    border-right: 2px solid gray;
    
}

.head {
    width: 100px;
    height: 100px;
}

.post-user, .post-time {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    align-items: center;
}

.postback {
    background: url(../images/postback.jpg) no-repeat;
    background-size: 100% 100%;
    color: #fff;
    font-size: 30px;
    text-shadow: 3px 3px 3px gray;
}

.postback > span {
    margin-top: -100px;
}
