
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

#back {
    background: url(../images/back.jpg) no-repeat;
    background-size: auto 100%;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.btn {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 16px/100% 'Microsoft yahei',Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    transition: all .3s;
    border-radius: .5em;
}

.btn-blue {
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top, #00adee, #0078a5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

.btn:active {
    position: relative;
    top: 1px;
}

.btn:hover {
    text-decoration: none;
}

.btn-blue:active {
    color: #80bed6;
    background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
    background: -moz-linear-gradient(top, #0078a5, #00adee);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}
.btn-blue:hover {
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top, #0095cc, #00678e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}

.btn-green {
    color: #e8f0de;
    border: solid 1px #538312;
    background: #64991e;
    background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
    background: -moz-linear-gradient(top, #7db72f, #4e7d0e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}

.btn-green:active {
    color: #a9c08c;
    background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
    background: -moz-linear-gradient(top, #4e7d0e, #7db72f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}

.btn-green:hover {
    background: #538018;
    background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
    background: -moz-linear-gradient(top, #6b9d28, #436b0c);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}

.btn-orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top, #faa51a, #f47a20);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}

.btn-orange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top, #f47a20, #faa51a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
.btn-orange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top, #f88e11, #f06015);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}

.btn-white {
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top, #fff, #ededed);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}

.btn-white:active {
    color: #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
    background: -moz-linear-gradient(top, #ededed, #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}
.btn-white:hover {
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
    background: -moz-linear-gradient(top, #fff, #dcdcdc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}

input, textarea {
    background-color: white;
    cursor: text;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 11px system-ui;
    border: 1px solid #DDD;
    font-size: 13px;
    margin: 0;
    height: auto;
    padding: 9px 9px 9px 9px;
    margin-bottom: 20px;
    outline: none;
    border-radius: .3em;
}

input:focus, textarea:focus {
    border-color: #0095cc;
    box-shadow: 0 0 2px #00678e;
}

nav {
    position: fixed;
    width: 100%;
    height: 60px;
    line-height: 60px;
    top: 0;
    left: 0;
    z-index: 9999;
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top, #0095cc, #00678e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
    display: flex;
    flex-direction: row;
}

nav a:first-child {
    margin-left: 20px;
}

nav a {
    height: 60px;
    line-height: 60px;
    color: #e8f0de;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    text-decoration: none;
    padding: 0 2em;
}

nav a:hover {
    background: #538018;
    background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
    background: -moz-linear-gradient(top, #6b9d28, #436b0c);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}

nav a:active {
    color: #a9c08c;
    background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
    background: -moz-linear-gradient(top, #4e7d0e, #7db72f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}

nav .right {
    margin-left: auto;
}

nav .nbtn {
    margin: 0 10px;
}

nav .btn {
    font: 13px/100% 'Microsoft yahei',Arial, Helvetica, sans-serif;
    padding: .3em 1.5em .4em;
}

.nav {
    opacity: .6;
    box-shadow: 0 0 3px #0076a3;
}

nav:hover {
    opacity: 1;
}

nav .logo {
    width: 100px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #da7c0c;
    font-size: 20px;
}

nav .search {
    margin: 0 20px;
    width: 280px;
}

nav .search input[type='text'] {
    width: 200px;
    background: rgba(255, 255, 255, .7);
}

nav .search input[type='text']:focus {
    background: #fff;
}

nav .search .btn {
    padding: .8em .6em;
}

.bg-red {
    background-color: #FF5722;
}

.bg-orange {
    background-color: #FFB800;
}

.bg-green {
    background-color: #009688;
}

.bg-cyan {
    background-color: #2F4056;
}

.bg-blue {
    background-color: #1E9FFF;
}

.bg-black {
    background-color: #393D49;
}

.bg-gray {
    background-color: #eee;
    color: #666;
}

.red {
    color: #FF5722;
}

.orange {
    color: #FFB800;
}

.green {
    color: #009688;
}

.cyan {
    color: #2F4056;
}

.blue {
    color: #1E9FFF;
}

.black {
    color: #393D49;
}

.gray {
    color: #eee;
}

.bg-black, .bg-blue, .bg-cyan, .bg-green, .bg-orange, .bg-red {
    color: #fff;
}

.row {
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col1 {
    padding: 5px;
    width: calc(8.33333333% - 10px);
}

.col2 {
    padding: 5px;
    width: calc(16.66666667% - 10px);
}

.col3 {
    padding: 5px;
    width: calc(25% - 10px);
}

.col4 {
    padding: 5px;
    width: calc(33.33333333% - 10px);
}

.col5 {
    padding: 5px;
    width: calc(41.66666667% - 10px);
}

.col6 {
    padding: 5px;
    width: calc(50% - 10px);
}

.col7 {
    padding: 5px;
    width: calc(58.33333333% - 10px);
}

.col8 {
    padding: 5px;
    width: calc(66.66666667% - 10px);
}

.col9 {
    padding: 5px;
    width: calc(75% - 10px);
}

.col10 {
    padding: 5px;
    width: calc(83.33333333% - 10px);
}

.col11 {
    padding: 5px;
    width: calc(91.66666667% - 10px);
}

.col12 {
    padding: 5px;
    width: calc(100% - 10px);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
    padding-top: 15px;
    margin-top: 15px;
    background: rgba(255, 255, 255, .8);
}

.card > p {
    font-size: 14px;
    color: black;
    border-bottom: 2px double gray;
}

.card .kind {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card .kind a {
    text-decoration: none;
    font-size: 13px;
    color: gray;
    padding: 5px 8px;
}

.card-full {
    width: calc(100% - 10px);
    height: calc(100% - 35px);
}

.full {
    width: 100%;
    height: 100%;
}

.slider {
    width: 100%;
    height: 200px;
}

.slide img {
    width: 100%;
}

main {
    padding: 60px 150px;
    width: calc(100% - 300px);
}

.popup-html {
    display: none;
    padding: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
}

#login input, #reg input {
    width: 100%;
}

#login .label, #reg .label {
    text-align: right;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
}

#login .reg, #reg .login {
    font-size: 13px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

table {background-color: #FFFFFF;width: 100%;color: #666666;margin: 10px 0;border-collapse: collapse;border-spacing: 0;font-size: 14px;border: 1px solid #DBDBDB;}
table th, table td {text-align: left;margin: 0;padding: 10px 15px;border: 1px solid #DBDBDB;font-weight: 400;}
table>thead>tr, table>tfoot>tr {-webkit-transition: all .25s;transition: all .25s;background-color: #EEEEEE;}
table>tbody>tr {-webkit-transition: all .25s;transition: all .25s;}
table>tbody>tr:hover {background-color: #F2F2F2;}
